/*ESTILO 1 - Reset Page*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*ESTILO 2 - Cabeçalho*/
header{
    padding: 16px 0;
    color: #ecf0f1;
    background-color: #182c61;  
    
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    /*color: #ecf0f1; - colocar diretamente no link "a"*/
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none; /* Removendo estilização dos links */
}

.container{
    max-width: 1280px; /*largura maxima*/
    width: 100%; /*usar 100% do espaço dentro dos 1280px*/
    margin: 0 auto; 
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* ESTILO 3 - Fontes*/
header,
section h2{
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*ESTILO 3 - Imagens e corpo*/
.brands-list img{
    height: 24px;
}

.brands-list li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
    /* Sobescrever apenas uma regra e aproveitamos o efeito cascata*/
}

section{
    padding: 16px;
}

section h2{
    margin-bottom: 16px;
}

section{
    color: #182c61; ;
}

section p{
    margin-bottom: 8px;
}

.store-font{
    margin-right: 32px;
}


